@page "/"
@layout MainLayout

<PageTitle>Home - Bicycle Rent</PageTitle>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <Card>
                <CardHeader>
                    <CardTitle>Welcome to Bicycle Rental System</CardTitle>
                </CardHeader>
                <CardBody>
                    <p>Please use the navigation menu to access different features:</p>
                    <ul>
                        <li>View and execute bicycle information</li>
                        <li>View and execute customer information</li>
                        <li>View and execute rental information</li>
                    </ul>
                </CardBody>
            </Card>
        </div>
    </div>
</div>
